

h1{
  color: #ABE3CD;
  background: #3E403F;
  border-radius: 15px;
  margin: 0 0 10px 0;
  padding: 20px; 
  font-family: 'Arvo', serif;
  font-size: 2.8em;
  text-align: center;
}

.nav, 
.nav li{
  list-style: none;
  display: inline-block;
  padding: 0 20px 0 0;
}

a {
  text-decoration: none;
  color: #8C8C8C;
  font-family: 'Arvo', serif;
}

.fotorama{
  padding-left: 50px;
}